<div class="navbar-wagon">
  <%= link_to root_path do %>
    <button class="btn btn-default btn-lg">
      <i class="fa fa-glass" aria-hidden="true"></i>  <span>Cocktail list</span>
    </button>
  <% end %>
</div>
