<% content_for :title do %>
  <%= "New ingredient | " + @cocktail.name %>
<% end %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <h1>New ingredient for <%= @cocktail.name %></h1>

    <%= render 'form' %>

  </div>
</div>
